
  
<div class="studentsAssigned">
    <ul>
        {{#each students}}
            <li><a href = "http://localhost:3000/teacher/viewStudent/{{courseID}}/{{_id}}"> {{firstName}} {{lastName}}</a></li>
        {{/each}}
    </ul>
</div>
{{#if active}}
<form action="/createAssignment/{{courseID}}" method="POST" id="create-assignment">
  Title: <input type="text" name="title" id="title"><br>
  Description: <input type="text" name="description" id="description"><br>
  <input type="submit" value="Submit"><br>
</form>

<form action = "/deactivateCourse/{{courseID}}" method = "POST" id = "deactivate-button">
<input type = "submit" value = "Deactivate">
</form>
{{/if}}